<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="stylesheet" href="/static/default.min.css" />
    <script src="/static/js/highlight.min.js"></script>
    <script
      type="text/javascript"
      src="/static/js/editor/ace.js"
      charset="utf-8"
    ></script>
    <script type="text/javascript" src="/static/js/solidity.min.js"></script>
    <script type="text/javascript" src="/static/js/yul.min.js"></script>
    <script type="text/javascript">
      hljs.highlightAll();
    </script>
    <script type="module" src="/static/js/components/index.js"></script>
    <script type="module" src="/static/js/components/protocol_viz.js"></script>
    <script src="/static/js/d3/d3.v7.js"></script>
  </head>
  <body>
    <div class="header" onclick="window.location.href='/'">
      <h1>┗┫⦀⦙ｂｅｔｔｅｒｓｃａｎ⦙⦀┣┛</h1>
    </div>
    <div id="dashboard">
      <div id="inputDropdownFlex">
        <div id="inputGroup">
          <input
            type="text"
            id="pathInput"
            placeholder="<network>:<address> || etherscan_explorer_url"
            style="width: 450px"
          />
          <select id="crawlInput">
            <option value="" selected>crawl: none</option>
            <option value="1">crawl: 1-lvl</option>
            <option value="0">crawl: ∞</option>
          </select>
          <button id="loadDataButton">load</button>
          <button id="openTargetsButton">targets</button>
          <button id="protocolViewButton">protocol_view</button>
          <button id="clearDataButton">clean_storage</button>
        </div>
        <div id="dropdownContainer"></div>
      </div>

      <div id="protocolDisplay"></div>

      <div id="contractDisplay"></div>

      <div id="searchDisplay" style="display: none">
        <h3>Search functions</h3>
        <form id="searchForm">
          <div id="filterGroup" class="form-section">
            <div class="select-group">
              <label for="visibility">Visibility</label>
              <select name="visibility" id="visibility">
                <option value="">Any</option>
                <option value="public">Public</option>
                <option value="external">External</option>
                <option value="internal">Internal</option>
                <option value="private">Private</option>
              </select>
            </div>

            <div class="select-group">
              <label for="priority">Mutability</label>
              <select name="priority" id="priority">
                <option value="">Any</option>
                <option value="1">Write (public/external)</option>
                <option value="2">Write (internal/private)</option>
                <option value="3">Read (view/pure)</option>
              </select>
            </div>

            <div class="select-group">
              <label for="scanResult">Slither Results</label>
              <select name="impact">
                <option value="">All</option>
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
                <option value="Informational">Informational</option>
              </select>
            </div>

            <div class="select-group">
              <label for="functionName">Function Name</label>
              <input
                type="text"
                name="functionName"
                id="functionName"
                placeholder="Type function name or it's part"
              />
            </div>

            <div class="checkbox-group">
              <label>Modifiers</label>
              <input type="checkbox" name="hasModifiers" value="true" />

              <label>Internal Calls</label>
              <input type="checkbox" name="hasInternalCalls" value="true" />

              <label>External Calls</label>
              <input type="checkbox" name="hasExternalCalls" value="true" />

              <label>Inherited</label>
              <input type="checkbox" name="isInheritedFunction" value="true" />

              <label>ASM</label>
              <input type="checkbox" name="containsAsm" value="true" />

              <label>Low-lvl-call</label>
              <input type="checkbox" name="lowLvlCall" value="true" />
            </div>
          </div>

          <div id="findGroup" class="form-section">
            <div class="select-group">
              <label for="findAction">Select Function</label>
              <select name="findAction[]" id="findAction" multiple size="5">
                <option value="emitting">Emitting</option>
                <option value="writing_to">Writing to</option>
                <option value="reading_from">Reading from</option>
                <option value="calling_external_contract">
                  Calling external
                </option>
                <option value="find_target_reachable">Reaching target</option>
                <option value="all_reachable_from">All reachable</option>
                <option value="using_structure">Using structure</option>
                <option value="in_contract">In contract</option>
              </select>
            </div>

            <div class="select-group">
              <label for="findTarget">Function Target</label>
              <input
                type="text"
                id="findTargetFilter"
                placeholder="Select function first. Type to search below"
              />
              <select
                name="findTarget[]"
                id="findTarget"
                multiple
                size="5"
              ></select>
            </div>
          </div>
          <button id="resetSelectionsButton">Reset</button>
          <button id="filterDataButton">Search</button>
        </form>
      </div>
      <div id="scanResultsSection" style="display: none">
        <h3>Search detectors</h3>
        <div class="toggleScanResults">
          <form id="scanResultFilterForm">
            <label>Impact</label>
            <select name="impact" id="impactSelect">
              <option value="">All</option>
              <option value="High">High-slither</option>
              <option value="Medium">Medium-slither</option>
              <option value="Low">Low-slither</option>
              <option value="Informational">Informational-slither</option>
              <option value="ERROR">Error-semgrep</option>
              <option value="WARNING">Warning-semgrep</option>
              <option value="INFO">Info-semgrep</option>
            </select>
            <label>Check</label>
            <select name="check_scanned" id="checkSelect">
              <option value="">All</option>
            </select>

            <label>Function</label>
            <select name="function_scanned" id="functionSelect">
              <option value="">All</option>
            </select>

            <label>Contract</label>
            <select name="contract_scanned" id="contractSelect">
              <option value="">All</option>
            </select>
            <button id="filterScanResultsButton">Show</button>
          </form>
          <button id="toggleScanResultsButton">X</button>
        </div>
        <div id="scanResultsDisplay"></div>
      </div>

      <div id="criteriaDisplay"></div>

      <div id="flexContainer">
        <div id="functionDisplay"></div>
        <div id="sourceCodeDisplay"></div>
      </div>

      <p style="text-align: right">
        <a
          href="https://github.com/shortdoom"
          style="color: black; font-size: small; font-weight: bold;"
          >by blackbigswan</a
        >
      </p>
    </div>
    <script></script>
  </body>
</html>
