<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="stylesheet" href="/static/default.min.css" />
    <script src="/static/js/d3/d3.v7.js"></script>
    <script type="module" src="/static/js/components/protocol_page.js"></script>
  </head>
  <body>
    <div class="header" onclick="window.location.href='/'">
      <h1>┗┫⦀⦙ｂｅｔｔｅｒｓｃａｎ⦙⦀┣┛</h1>
    </div>
    <div id="dashboard">
      <div id="menuGroup">
        <button onclick="window.location.href='/'">Full View</button>
      </div>
      <div id="dropdownContainer"></div>
    </div>
    <script>
    </script>
  </body>
</html>
